rect{
  fill: steemblue
}

text{
  font-size : 1.4em
}

.tooltip {	
  position: absolute;			
  text-align: center;			
  width: 250px;					
  height: 160px;					
  padding: 2px;				
  font: 20px sans-serif;		
  background: lightsteelblue;	
  border: 0px;		
  border-radius: 8px;			
  pointer-events: none;			
}

#infoDiv{
  position: absolute;
  top : 40px;
  left: 2100px;
}

 /* The Modal (background) */
 .modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 

.customParagraph, #loadDataButton{
  display: block;
  width: 100%;
  font-size: 16px;
}